#configurator-wrapper {
    position: relative;
    margin: 0 auto;
    font-family: Verdana, Helvetica, Arial, sans-serif;
    width: 400px;
    height: auto;
    border-style: solid;
    border-width: 2px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: lightgrey;
}

#configurator-wrapper-bottom {
     padding: 15px 5px 15px 5px;

}
.hide{
	display: none;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    /*margin-top: 20px;*/
    /*margin-bottom: 20px !important;*/
    padding: 15px 5px 15px 5px;
    border-bottom: solid;
    border-width: 1px;
    /*padding: 5px;*/
}

.itemPrice {
    float: right;
    padding-right: 15px;
}

.pull-right {
    float: right;
    padding-right: 15px;
}

.onoffswitch {
    position: absolute;
    width: 90px;
    bottom: 4px;
    right: 4px;
}

.onoffswitch-checkbox {
    display: none;
}

.onoffswitch-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border: 2px solid #999999;
    border-radius: 20px;
}

.onoffswitch-inner {
    display: block;
    width: 200%;
    margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}

.onoffswitch-inner:before,
.onoffswitch-inner:after {
    display: block;
    float: left;
    width: 50%;
    height: 30px;
    padding: 0;
    line-height: 30px;
    font-size: 14px;
    color: white;
    font-family: Trebuchet, Arial, sans-serif;
    font-weight: bold;
    box-sizing: border-box;
}

.onoffswitch-inner:before {
    content: "ON";
    padding-left: 20px;
    background-color: #34A7C1;
    color: #FFFFFF;
}

.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 10px;
    background-color: #EEEEEE;
    color: #999999;
    text-align: right;
}

.onoffswitch-switch {
    display: block;
    width: 18px;
    margin: 6px;
    background: #FFFFFF;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 56px;
    border: 2px solid #999999;
    border-radius: 20px;
    transition: all 0.3s ease-in 0s;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
}

body{
    background-color: antiquewhite
}